.title {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  margin-right: 30px;
  text-transform: capitalize;
}

.container-criar {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;

  button {
    margin-top: 20px;
    width: 100%;
  }
}
